<% layout('layout2') %>
<div id="wrapper">
  <% include partials/sidebar %>
  <div id="page-content-wrapper">

    <% include partials/navbar %>

    <div class="container-fluid main_body">
      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
      <div class="ul_links">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/">Company</a></li>
          <li><a href="#">Register Company</a></li>
        </ul>
      </div>
      <br>
      <div class="bodyDiv">
        <h4>Register Company</h4>
      </div>
    </div>
  </div>
</div>
